{% extends "shared/MainReferences.html" %}
{% block keywords %}{% endblock %}
{% block description %}{% endblock %}
{% block title %}YouTube{% endblock %}
{% block heading %}
    <h3>Youtube</h3>
    <hr>
{% endblock %}

{% block content %}
    <form action="" method="post" class="form-">
        {% csrf_token %}
        <div class="mb-3">
            <label for="{{ youtube.url.id_for_label }}">{{ youtube.url.label }}:</label>
            {{ youtube.errors }}
            {{ youtube.url }}
        </div>
        <button type="submit" class="btn btn-dark">Download</button>
    </form>

    {% if video %}
        <hr>
        <h5>{{ video.title }} </h5>
        <img src="{{ video.bigthumb }}" alt="{{ video.title }}" class="img-fluid align-middle">
        <table class="table">
            <thead>
            <tr>
                <th>Quality</th>
                <th>Size</th>
                <th>Format</th>
                <th>Download</th>
            </tr>
            </thead>
            <tbody>
            {% for s in video.streams %}
                <tr>
                    <td>{{ s.quality }}</td>
                    <td>{{ s.get_filesize|filesizeformat }}</td>
                    <td>{{ s.extension }}</td>
                    <td><a class="btn btn-info" href="{{ s.url }}">Download</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

{% endblock %}