{% extends 'shared/MainReferences.html' %}
{% block title %}
    {{ title }}
{% endblock %}
{% block content %}
    <h1>Contact</h1>
    <hr>
    <h5>{{ time }}</h5>
    <form action="" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="{{ contact.name.id_for_label }}" class="form-label">{{ contact.name.label }}</label>
            {{ contact.name }}
            {% for error in contact.name.errors %}
                <p class="text-danger">{{ error }}</p>
            {% endfor %}
        </div>
        <div class="mb-3">
            <label for="{{ contact.subject.id_for_label }}" class="form-label">{{ contact.subject.label }}</label>
            {{ contact.subject }}
            {% for error in contact.subject.errors %}
                <p class="text-danger">{{ error }}</p>
            {% endfor %}
        </div>
        <div class="mb-3">
            <label for="{{ contact.email.id_for_label }}" class="form-label">{{ contact.email.label }}</label>
            {{ contact.email }}
            {% for error in contact.email.errors %}
                <p class="text-danger">{{ error }}</p>
            {% endfor %}
        </div>
        <div class="mb-3">
            <label for="{{ contact.content.id_for_label }}" class="form-label">{{ contact.content.label }}</label>
            {{ contact.content }}
            {% for error in contact.content.errors %}
                <p class="text-danger">{{ error }}</p>
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-success form-control">Send</button>
    </form>
{% endblock %}