{% extends 'shared/MainReferences.html' %}
{% block description %}I am a web scraper expert who is interested in web Developing{% endblock %}
{% block keywords %}Web Developer, Web Scraper, Data Scraping{% endblock %}
{% block title %}Obeid Arash{% endblock %}
{% block heading %}
    <h1>Obeid Arash Blog</h1>
    <hr>
{% endblock %}
{% block content %}

    <div class="row">
        <div class="col-xl-6">
            <h4 class="alert-heading">Latest Projects</h4>
            <ul class="list-group list-group-flush">
                {% for latest_project in latest_projects %}
                    <li class="list-group-item"><a href="{% url 'project:detail' latest_project.slug %}">
                        {{ latest_project.title|truncatechars:35 }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-xl-6">
            <h4>Completed Projects</h4>
            <ul class="list-group list-group-flush">
                {% for completed_project in completed_projects %}
                    <li class="list-group-item"><a href="{% url 'project:detail' completed_project.slug %}">
                        {{ completed_project.title|truncatechars:'35' }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <!--  <div class="row">
         <div class="col-xl-6">
             <div class="card">
                 <div class="card-body">
                     <h5 class="card-title">Special title treatment</h5>
                     <p class="card-text">With supporting text below as a natural lead-in to additional
                         content.</p>
                     <a href="#" class="btn btn-primary">Go somewhere</a>
                 </div>
             </div>
         </div>
         <div class="col-xl-6">
             <div class="card">
                 <div class="card-body">
                     <h5 class="card-title">Special title treatment</h5>
                     <p class="card-text">With supporting text below as a natural lead-in to additional
                         content.</p>
                     <a href="#" class="btn btn-primary">Go somewhere</a>
                 </div>
             </div>
         </div>
     </div> -->

    <!--
    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">Toggle bottom offcanvas
    </button>

    <div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom"
         aria-labelledby="offcanvasBottomLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasBottomLabel">Contact Information</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
        </div>
        <div class="offcanvas-body small">
            <p>Email: <a href="mailto:Contact.obeidarash@gmail.com"
                         target="_blank">Contact.obeidarash@gmail.com</a></p>
            <p>Whats App: <a href="https://wa.me/+989182789498" target="_blank">+989182789498</a></p>
            <p>Instagram: <a href="https://instagram.com/obeidarash" target="_blank">@obeidarash</a></p>
        </div>
    </div>
    -->

{% endblock %}