{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="keywords" content="{% block keywords %}{% endblock %}">
    <meta name="author" content="Obeid Arash">
    <meta name="robots" content="index, follow">
    {% include 'shared/HeaderReferences.html' %}
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-xl-6">

            {% include 'shared/Navigation.html' %}
            <h2>{% block heading %}{% endblock %}</h2>
            <hr>

            {% block content %}{% endblock %}

        </div>
        <div class="col"></div>
    </div> <!-- row -->
</div> <!-- container -->
{% include 'shared/FooterReferences.html' %}
</body>

</html>