{% extends "shared/MainReferences.html" %}

{% block title %}{{ project.title }}{% endblock %}
{% block heading %}{{ project.title }}{% endblock %}

{% block content %}
    <p> {{ project.customer }}</p>
    <p>{{ project.id }}</p>
    <p>Tags: </p>
    <ul>
        {% for tag in tags %}
            <li><a href="{% url 'project:tag' tag.slug %}">{{ tag }}</a></li>
        {% endfor %}
    </ul>

    <p>Categories: </p>
    <ul>
        {% for category in categories %}
            <li><a href="{% url 'project:category' category.slug %}">{{ category }}</a></li>
        {% endfor %}
    </ul>

    <p>Create: {{ project.create | time }}</p>
    <p>Update: {{ project.update | time }}</p>

{% endblock %}